<section class="contact2 foot bg-dark text-white">
  <div class="container py-2">
    <div class="row">
      <div class="col-md-3 mt-3">
        <h5>Information</h5>
        <ul>
          <li>About Us</li>
          <li>Our Team</li>
          <li>History</li>
          <li>Mission</li>
        </ul>
      </div>
      <div class="col-md-3 mt-3">
        <h5>Useful Links</h5>

        <ul class="textwidget">
          <li><a>Support</a></li>
          <li><a>Privacy Policy</a></li>
          <li><a>Terms &amp; Conditions</a></li>
          <li><a>Affiliate Program</a></li>
          <!-- <li><a >Careers</a></li> -->
        </ul>
      </div>
      <div class="col-md-3 mt-3">
        <h5>Info</h5>
        <p>
          Fictional British boarding school of magic for students aged eleven to
          eighteen
        </p>
      </div>
      <div class="col-md-3 mt-3">
        <h5>Contact Us</h5>

        <p>
          Hogwarts Castle, Highlands, Scotland, Great Britain
          <br />+1 (415) 876-3250
        </p>
      </div>
    </div>
  </div>
</section>
<footer class="bg-dark">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="footer-social">
            <a title="Twitter"
              ><i class="fab fa-twitter text-white px-2"></i
            ></a>
            <a title="Facebook"
              ><i class="fab fa-facebook-f text-white px-2"></i
            ></a>
            <a title="Instagram"
              ><i class="fab fa-instagram text-white px-2"></i
            ></a>
            <a title="Dribbble"
              ><i class="fab fa-dribbble text-white px-2"></i
            ></a>
            <a title="Pinterest"
              ><i class="fab fa-pinterest text-white px-2"></i
            ></a>
          </div>
        </div>

        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</footer>
