<section class="text-black mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="abt_univ_thumb">
          <figure>
            <img src="../../assets/abt-thumb (1).jpg" alt="" />
          </figure>
        </div>
      </div>
      <div class="col-md-6">
        <div class="abt_univ_wrap">
          <!-- HEADING 1 START-->
          <div class="kf_edu2_heading1">
            <!-- <h4>About Our University</h4> -->
            <h3 class="text-primary">Welcome To University of Education</h3>
          </div>
          <!-- HEADING 1 END-->

          <div class="mt-3">
            <div class="kf_intro_des_caption">
              <h6 class="fw-bold">MISSION</h6>
              <p>
                World Largest books and library center is here where you can
                study the latest trends of the education.
              </p>
            </div>
            <div class="kf_intro_des_caption">
              <h6 class="fw-bold">VISION</h6>
              <p>
                World Largest books and library center is here where you can
                study the latest trends of the education.
              </p>
            </div>
            <div class="kf_intro_des_caption">
              <h6 class="fw-bold">CORE VALUE</h6>
              <p>
                World Largest books and library center is here where you can
                study the latest trends of the education.
              </p>
            </div>
            <div class="kf_intro_des_caption">
              <h6 class="fw-bold">HISTORY</h6>
              <p>
                World Largest books and library center is here where you can
                study the latest trends of the education.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team mt-3 mb-3" id="team ">
  <div class="title text-center">
    <h3>Our Team</h3>
  </div>
  <div class="text-center section-title">
    <hr class="w-25 line m-auto text-primary" />
    <p>
      Vestibulum ante ipsum primis in faucibus orci. Morbi tincidunt urna
      imperdiet tincidunt <br />rhoncus. Sed mollis ligula non massa aliquam
      faucibus.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="member_item position-relative">
          <div class="member">
            <img src="../../assets/member-1.jpg" class="w-100" alt="member1" />
          </div>

          <div
            class="member_cap position-absolute d-flex justify-content-center align-items-center"
          >
            <div
              class="team-social d-flex align-items-center justify-content-center"
            >
              <div class="team-social-inner">
                <a href="#"><i class="fab fa-twitter text-white p-2"></i></a>
                <a href="#"><i class="fab fa-facebook-f text-white p-2"></i></a>
                <a href="#"
                  ><i class="fab fa-linkedin-in text-white p-2"></i
                ></a>
                <a href="#"><i class="fab fa-dribbble text-white p-2"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="team-details">
          <h5 class="title">Michael Broad</h5>
          <span class="position">Professor</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="member_item position-relative">
          <div class="member">
            <img src="../../assets/member-2.jpg" class="w-100" alt="member2" />
          </div>

          <div
            class="member_cap position-absolute d-flex justify-content-center align-items-center"
          >
            <div
              class="team-social d-flex align-items-center justify-content-center"
            >
              <div class="team-social-inner">
                <a href="#"><i class="fab fa-twitter text-white p-2"></i></a>
                <a href="#"><i class="fab fa-facebook-f text-white p-2"></i></a>
                <a href="#"
                  ><i class="fab fa-linkedin-in text-white p-2"></i
                ></a>
                <a href="#"><i class="fab fa-dribbble text-white p-2"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="team-details">
          <h5 class="title">Jeannette Crow</h5>
          <span class="position">Dean</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="member_item position-relative">
          <div class="member">
            <img src="../../assets/member-3.jpg" class="w-100" alt="member3" />
          </div>

          <div
            class="member_cap position-absolute d-flex justify-content-center align-items-center"
          >
            <div
              class="team-social d-flex align-items-center justify-content-center"
            >
              <div class="team-social-inner">
                <a><i class="fab fa-twitter text-white p-2"></i></a>
                <a><i class="fab fa-facebook-f text-white p-2"></i></a>
                <a><i class="fab fa-linkedin-in text-white p-2"></i></a>
                <a><i class="fab fa-dribbble text-white p-2"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="team-details">
          <h5 class="title">Martin Lawrence</h5>
          <span class="position">Senior Lecturer</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="member_item position-relative">
          <div class="member">
            <img src="../../assets/member-4.jpg" class="w-100" alt="member4" />
          </div>

          <div
            class="member_cap position-absolute d-flex justify-content-center align-items-center"
          >
            <div
              class="team-social d-flex align-items-center justify-content-center"
            >
              <div class="team-social-inner">
                <a><i class="fab fa-twitter text-white p-2"></i></a>
                <a><i class="fab fa-facebook-f text-white p-2"></i></a>
                <a><i class="fab fa-linkedin-in text-white p-2"></i></a>
                <a><i class="fab fa-dribbble text-white p-2"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="team-details">
          <h5 class="title">Isabella Dowson</h5>
          <span class="position">Reader</span>
        </div>
      </div>
    </div>
  </div>
</section>
