<div class="container">
  <div class="row">
    <div class="col-md-4 py-3">
      <div class="text-left position-relative">
        <div class="card">
          <img src="../../assets/course1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Course 1</h5>
            <p>PROF: Racheal Green</p>
            <button
              [routerLink]="['/currentcourses']"
              class="btn btn btn-secondary"
            >
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-3">
      <div class="text-left position-relative">
        <div class="card">
          <img src="../../assets/course6.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Course 2</h5>
            <p>PROF: John White</p>
            <button
              [routerLink]="['/currentcourses']"
              class="btn btn btn-secondary"
            >
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-3">
      <div class="">
        <div class="card">
          <img src="../../assets/course10.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <H5 class="card-text">Course 3 </H5>
            <p>PROF: Adam Smith</p>
            <button
              [routerLink]="['/currentcourses']"
              class="btn btn btn-secondary"
            >
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-3">
      <div class="text-left position-relative">
        <div class="card">
          <img src="../../assets/course8.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Course 4</h5>
            <p>PROF: Ross Bing</p>
            <button
              [routerLink]="['/currentcourses']"
              class="btn btn btn-secondary"
            >
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-3">
      <div class="text-left position-relative">
        <div class="card">
          <img src="../../assets/course1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Course 5</h5>
            <p>PROF: Jerry Sinfield</p>
            <button
              [routerLink]="['/currentcourses']"
              class="btn btn btn-secondary"
            >
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-3">
      <div class="text-left position-relative">
        <div class="card">
          <img src="../../assets/coursee.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Course 6</h5>
            <p>PROF: Tom Boy</p>
            <button
              [routerLink]="['/currentcourses']"
              class="btn btn btn-secondary"
            >
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
