<div class="container-fluid ab">
    <div class="row">
        <div class="d-flex justify-content-between">


            <div class="col-md-8 rounded m-3">

                <div>
                    <h4>Theory of Computation</h4>
                    <div class=" ">

                        <ul class="d-flex list-unstyled">
                            <li [routerLink]="['/home']" routerLinkActive="router-link-active"
                                class=" text-primary cursor ">
                                Dashboard /</li>
                            <li [routerLink]="['/courses']" routerLinkActive="router-link-active"
                                class="text-primary cursor"> MyCourses</li>



                        </ul>

                    </div>

                </div>

                <div class="  rounded  mt-1">


                    <div class=" list-group-item " aria-current="true">
                        <div class="media ">
                            <span class="media-left">
                                <i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>
                            </span>
                            <span class="media-body "> Professor:  Racheal Green</span>
                        </div>
                    </div>
                    <div class=" list-group-item   " aria-current="true">
                        <div class="media ">
                            <span class="media-left">
                                <i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>
                            </span>
                            <span class="media-body ">Assistant: John White</span>
                        </div>
                    </div>


                </div>
                <div class=" rounded  mt-2">
                    <h5>Introduction</h5>
                    <a class=" list-group-item list-group-item-action  " aria-current="true">
                        <div class="media  ">
                            <span class="media-left">
                                <i class="icon fas fa-file-pdf " aria-hidden="true"></i>

                            </span>
                            <span class="media-body "> Course Book</span>
                        </div>
                    </a>

                </div>
                <div class=" mt-2 rounded">
                    <h5> Chapter 1</h5>
                    <a class=" list-group-item list-group-item-action  " aria-current="true">
                        <div class="media  ">
                            <span class="media-left">
                                <i class="icon fas fa-file-alt " aria-hidden="true"></i>

                            </span>
                            <span class="media-body "> Slides</span>

                        </div>
                    </a>

                    <a class=" list-group-item list-group-item-action  " aria-current="true">
                        <div class="media  ">
                            <span class="media-left">
                                <i class="icon fas fa-file-alt " aria-hidden="true"></i>

                            </span>
                            <a [routerLink]="['/task']" routerLinkActive="router-link-active"
                                class="media-body text-dark "> Assignment 1</a>
                        </div>
                    </a>

                </div>
                <div class="rounded mt-2">
                    <h5> Chapter 2</h5>
                    <a class=" list-group-item list-group-item-action  " aria-current="true">
                        <div class="media  ">
                            <span class="media-left">
                                <i class="icon fas fa-file-alt " aria-hidden="true"></i>

                            </span>
                            <span class="media-body "> Slides</span>
                        </div>
                    </a>

                    <a class=" list-group-item list-group-item-action  " aria-current="true">
                        <div class="media  ">
                            <span class="media-left">
                                <i class="icon fas fa-file-alt " aria-hidden="true"></i>

                            </span>
                            <a [routerLink]="['/task']" routerLinkActive="router-link-active"
                                class="media-body text-dark "> Assignment 1</a>
                        </div>
                    </a>

                </div>
                <div class="rounded mt-2">
                    <h5> Revision</h5>
                    <a class=" list-group-item list-group-item-action" aria-current="true">
                        <div class="media  ">
                            <span class="media-left">
                                <i class="icon fas fa-file-alt " aria-hidden="true"></i>

                            </span>
                            <span class="media-body "> Sheet 1</span>
                        </div>
                    </a>
                    <a class=" list-group-item list-group-item-action  " aria-current="true">
                        <div class="media  ">
                            <span class="media-left">
                                <i class="icon fas fa-file-alt " aria-hidden="true"></i>

                            </span>
                            <span class="media-body "> Sheet 2</span>
                        </div>
                    </a>

                </div>
            </div>
           






        </div>
    </div>
</div>