<div class="container-fluid ab  ">
  <div class="row">
    
      
      <div class="col-md-10 m-auto ">
        <div class="d-flex col-md-2 mt-3 text-black bg-light rounded p-1">
          <label for=""> GPA:</label>
          <div class="rounded    m-auto">3.00</div>
        </div>
        <table class="table    rounded text-md-center">
          <thead>
            <tr>

              <th>Course Code</th>
              <th>Course Name</th>
              <th>Grade</th>

            </tr>
          </thead>
          <tbody >
            <tr>

              <td>IT99</td>

              <td> Introduction to Computer Science</td>
              <td>B</td>

            </tr>
              

            
            <tr>

              <td>cs109</td>
              <td>physics</td>

              
              <td>C+</td>
            
            <tr>


              <td>CS108</td>

              <td>Math1</td>
              <td>A</td>

            </tr>
            <tr>


              <td>IT206</td>

              <td>Electronics</td>
              <td>D</td>

            </tr>
            <tr>


              <td>IT209</td>

              <td>Economics</td>
              <td>B+</td>

            </tr>
            <tr>


              <td>CS56</td>

              <td>Math2</td>
              <td>C+</td>

            </tr>
            <tr>


              <td>CS115</td>

              <td>Ethics</td>
              <td>A+</td>

            </tr>
            <tr>


              <td>CS213</td>

              <td>Numerical Analysis</td>
              <td>B+</td>

            </tr>
            <tr>


              <td>CS50</td>

              <td>Operating Systems1</td>
              <td>C</td>

            </tr>
            <tr>


              <td>CS51</td>

              <td>Operating Systems2</td>
              <td>A+</td>

            </tr>
            <tr>


              <td>IT77</td>

              <td>Operations Research</td>
              <td>B</td>

            </tr>
            <tr>


              <td>IT20</td>

              <td>Data Communication</td>
              <td>B+</td>

            </tr>
            <tr>


              <td>IT84</td>

              <td>Comp.Archeticture</td>
              <td>A+</td>

            </tr>
            <tr>


              <td>CS89</td>

              <td>File Organization</td>
              <td>A</td>

            </tr>
            <tr>


              <td>IT302</td>

              <td>Logic Programming</td>
              <td>A+</td>

            </tr>
          </tbody>
        </table>
      </div>
     








  </div>
</div>